#body {
    margin: 0;
    padding: 0;
}
/* #container {
    display: flex;
} */

#menu {
    height: 10vh;
    background-color: #bdbdbd;
    display: flex;
    text-align: center;
    justify-content: center;
}
#header {
    height: 20vh;
    background-color: #00fff0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar {
    height: 60vh;
    width: 100%;
    background-color: #8a2be2;
    display: flex;
    float: left;
    justify-content: center;
}
#content {
    height: 60vh;
    width: 70%;
    background-color: #d2691e;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer {
    height: 10vh;
    background-color: #ffd700;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 764.98px){
    #split{
        display: block;
    }

}